@import "sass-bootstrap/lib/bootstrap";
@import "compass/css3";

$lightgrey_color:#555555;
$search_map_width:500px;
$header_height:80px;
$footer_height:35px;

$smallImageWidth:160px;

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 



/* Put your CSS here */

html{
  height:100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding-top:60px;
    padding-bottom:40px;
    height:100%;
}

.container-fluid.application {
  height:100%;
}

.row-fluid.application-view{
  height:100%;
}

.row-fluid.application-view .span4{
  height:100%;
}

.row-fluid.application-view .span8{
  height:100%;
}

.sidebar-nav {
  padding:9px 0;
}



@media (max-width:980px) {
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.hero-unit.traces {
  height:100%;
  
  .trace-map{
    height:100%;
  }
  
}


.hero-unit {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}


div {
  @include box-sizing(border-box)
}


.thumbnail > video {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.well.sidebar-nav > h4{
  margin-left:5%;
  
}




.archive-sidebar-container{
  margin-left:5%;
  margin-right:5%;
  margin-bottom:30px;
  
  .search-map{
    height: 250px;
    
  }
}

.archive-date-picker {
  
  margin-bottom:1em;

  .ui-datepicker {
  
    width:auto;
  
  }

}

.archive {
  .caption {
    font-size:0.65em;
  }
}

.station-list-container{
  .scroller {
    overflow:auto;
  }
}

@media (min-height: 300px) and (max-height: 399px) {
  .station-list-container .scroller {
    height:200px;
  }
}

@media (min-height: 400px) and (max-height: 499px) {
  .station-list-container .scroller {
    height:300px;
  }
}

@media (min-height: 500px) and (max-height: 599px) {
  .station-list-container .scroller {
    height:400px;
  }
}

@media (min-height: 600px) and (max-height: 699px) {
  .station-list-container .scroller {
    height:500px;
  }
}

@media (min-height: 700px) and (max-height: 799px) {
  .station-list-container .scroller {
    height:600px;
  }
}

@media (min-height: 800px) {
  .station-list-container .scroller {
    height:701px;
  }
}


@media (min-width: 768px) and (max-width: 979px) {


  .ui-datepicker {
    a,span {
      color:green;
      font-size:1.25vw !important;
    }
  
  }


}

@media (min-width: 980px) {

  .archive-sidebar-container div.archive-date-picker:first-child {
    margin-right:4.9%;
  }

  .ui-datepicker {
    a,span {
      color:red;
      font-size:0.74vw !important;
    }
  
  }

  .archive-date-picker {
    
    width:47%;
    display:inline-block;
  }

}
