

@media (max-width:767px) {
    .navbar-nav.navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar .progress{
  margin-bottom:0px;
  height:34px;
}

.navbar .progress-bar{
  line-height:34px;
}

.form-control.zeitfaden-navbar{
  width:auto;
  display:inline-block;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.modal-station .modal-dialog {
  width:840px;
  
}




.modal-station .modal-dialog .station-image-map{
  height:300px;
  width:250px;
  display:inline-block;
  margin:10px;
  
}


.modal-station .modal-dialog .station-image{
  width:400px;
  vertical-align:top;
  
}

.modal-station .modal-dialog .station-image-container{
  width:500px;
  display:inline-block;
  vertical-align:top;
  margin:10px;
  text-align:center;
  
}

.ui-datepicker {
  width:auto; 
  
}

.ui-datepicker a, .ui-datepicker span {
  color: red;
  font-size: 0.9vw !important;
}



video {
  max-width: 100%;
  height: auto;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

.sidebar {
  display: block;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
}
.nav-sidebar > li > a {
  padding-left: 20px;
  padding-right: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  border-radius: 50%;
}



.archive .col-xs-4 {
  padding-left:5px;
  padding-right:5px;
}




/* Extra Small */
@media(max-width:767px){

  .thumbnail .caption {
    padding:3px;
    padding-bottom:0px;
  }
  
  small, .small {
    font-size: 65%;
  }
  
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
  
}

/* Large */
@media(min-width:1200px){
  
}











