<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <llsslink rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <link href="app/styles/raw.css" rel="stylesheet">
        
        
</head>
  <body ng-app="ZeitfadenApp" ng-controller="ZeitfadenApplicationCtrl">


  <script type="text/ng-template" id="station-image-modal.html">
    <div style="text-align:center;">
      <div class="blocker-div-for-image" style="position:absolute;top:0;right:0;bottom:0;left:0;z-index:5;"></div>
      <img ng-if="searchSpec.showBigImages == true" style="max-width:100%;" ng-src="{{station.bigFrontImageUrl}}/format/original">
      <img ng-if="searchSpec.showBigImages == false" style="max-width:100%;" ng-src="{{station.smallFrontImageUrl}}/format/{{getAttachmentFormat()}}">
    </div>
  </script>

  <script type="text/ng-template" id="station-image-lonely.html">
    <div ng-click="showImage()" id="{{station.id}}" style="text-align:center;">
      
        
      <img ng-if="isExtraSmallDevice() && (searchSpec.showBigImages == true)" class="station-image" ng-src="/station/getImage/stationId/{{station.id}}/imageSize/big/format/original">
      <img ng-if="isExtraSmallDevice() && (searchSpec.showBigImages == false)" class="station-image"  ng-src="/station/getImage/stationId/{{station.id}}/imageSize/medium/format/{{getAttachmentFormat()}}">

      <img ng-if="isLargeDevice()" class="station-image"  ng-src="/station/getImage/stationId/{{station.id}}/imageSize/medium/format/{{getAttachmentFormat()}}">
    
    
    </div>
  </script>
  
  <script type="text/ng-template" id="station-search-map.html">
    <div style="" class="search-map-wrapper" ng-class="{true: 'full-settings', false: 'small-settings'}[showFullSettings]">

          <div zf-search-map ng-model="searchLocation" 
               zf-station="selectedMapEntity" 
               zf-on-change-marker="changedLocation"
               zf-show-full-settings="showFullSettings"  
               zf-request-location-callback="setToCurrentLocation"
               zf-is-searching-location="isSearchingLocation"  
               zf-on-changed-full-settings="toggleShowFullSettings"
               zf-search-map-instance="directiveData.searchMapInstance"
               class="search-map">
          </div>
    </div>
  </script>
 
 
 
 
  <script type="text/ng-template" id="parameter_header.html">
      <div class="container" style="width:auto;display:block;vertical-align:top;margin-bottom:5px;">
        
    		<div class="row parameter-button-group">

    		  <!--
    		  <div style="text-align:center;" class="col-md-6 col-sm-6 col-xs-6 headroom-sm-30">
    			    <div class="row btn-group btn-group-lg" >
    			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickUserIcon()">
    			        <span class="glyphicon glyphicon-user" ></span>
    			      </button>
    			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickStationIcon()">
    			        <span class="glyphicon glyphicon-picture" ></span>
    			      </button>
    			    </div>
    			</div>
    			-->
    			
    			<!--
   		    <div style="text-align:center;"  class="col-md-6 col-sm-6 col-xs-6 headroom-sm-30">
    			    <div class="row btn-group btn-group-lg" >
    			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickDistanceSort()">
    			        <span class="glyphicon glyphicon-sort-by-attributes"></span>
    			      </button>
    			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickTimeSort()">
    			        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
    			      </button>
    			    </div>
    			</div>
    			-->
    			
    			<!--
    		    <div  style="text-align:center;" class="col-md-4  col-sm-12 col-xs-4 headroom-sm-30">
    			    <div class="row btn-group btn-group-lg" >
    			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="searchSpec.showBigImages = false">
    			        <span class="glyphicon glyphicon-th"></span>
    			      </button>
    			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="searchSpec.showBigImages = true">
    			        <span class="glyphicon glyphicon-th-list"></span>
    			      </button>
    			    </div>
    			 </div>
    		  -->
  		  </div>
      </div>
  </script>


  <script type="text/ng-template" id="directive-date-time-input.html">
        <span style="top:4px;font-size:20px;" class="glyphicon glyphicon-time"></span>
        <div style="display:inline-block;">
          <input style="margin-left:6px;font-size:16px;" class="datetime_selector" type="datetime-local">
        </div>
  </script>

  <script type="text/ng-template" id="distance-time-parameters.html">
      <div class="parameter-element">
        <div zf-date-time-input ng-model="searchSpec.fromDate" class="archive-date-picker" zf-on-change-date="changedDate">
        </div>
        <div zf-date-time-input ng-model="searchSpec.untilDate" class="archive-date-picker" zf-on-change-date="changedDate">
        </div>
      </div>
  </script>

  <script type="text/ng-template" id="archive-time-parameters.html">
    <div >
        <div zf-date-time-input ng-model="searchSpec.searchDate" zf-on-change-date="changedDate" class="parameter-element" >
        </div>

        <div class="parameter-element">
          <div style="display:inline-block;top:4px;font-size:20px;" class="glyphicon glyphicon-forward"></div>
          <select style="margin-left:6px;font-size:18px;" id="time_ordering_select" ng-change="changedTimeOrdering()" ng-model="searchSpec.selectedTimeOrdering" ng-options="c.description for c in dataForTimeOrderingSelect"></select>
        </div>

        <div class="parameter-element">
          <span style="top:4px;font-size:20px;" class="glyphicon glyphicon-map-marker"></span>
          <select style="margin-left:6px;font-size:18px;" id="radius_select" ng-change="changedDistance()" ng-model="searchSpec.selectedRange" ng-options="c.description for c in dataForRangeSelect"></select>
        </div>
        
    </div> 
  </script>

  <script type="text/ng-template" id="station_repeater.html">
      <div ng-repeat="station in entities" ng-switch on="station.attachmentType" 
      ng-class="{false: 'col-xs-4 small-image', true: 'col-xs-12 big-image'}[searchSpec.showBigImages]"
      class="col-3 col-md-3 col-sm-4 col-lg-3">
        <div ng-switch-when="image" class="thumbnail station medium">
          <div zf-station-image-lonely ng-model="station"></div>
          <div style="display:table"class="small caption">
            <div style="display:table-row;">
              <span style="display:table-cell;">
                <span class="glyphicon glyphicon-time">
                </span>
              </span>
              <span style="margin-left:5px;display:inline-block;height:23px;font-size:12px;">
                {{station.startTimestamp*1000 | date:'medium'}}
              </span>
            </div>
            <div style="display:table-row;cursor:pointer;" ng-click="showLocation(station)">
              <span style="display:table-cell;vertical-align: top;" >
                <span class="glyphicon glyphicon-map-marker">
                </span>
              </span>
              <span style="margin-left:5px;display:inline-block;height:33px;overflow:hidden;font-size:12px;">
                {{station.startLocationDescription | filterUnknownLocations}}
              </span>
            </div>
            <div style="display:table-row;">
              <span style="display:table-cell;">
                <span class="glyphicon glyphicon-plane" >
                </span>
              </span>
              <span style="margin-top:4px;margin-left:5px;display:inline-block;font-size:12px;">
                {{station.distanceToPin/1000 | number:3}} km
              </span>
            </div>
            <div style="display:table-row;">
              <span style="display:table-cell;">
                <span class="glyphicon glyphicon-globe" >
                </span>
              </span>
              <span style="margin-top:4px;margin-left:5px;display:inline-block;font-size:12px;">
                {{station.distanceToMe/1000 | number:3}} km
              </span>
            </div>
            
          </div>	    	            
      </div>
      <div ng-switch-when="video" class="thumbnail station medium" >
       <video ng-src="{{station.html5Video.mp4}}" width="400" height="300" ng-poster="{{station.html5Video.jpg}}" preload="none" controls="">
         <!--
         <source ng-src="{{station.html5Video.mp4}}" type="video/mp4"></source>
         <source ng-src="{{station.html5Video.ogv}}" type="video/ogg"></source>
         <source ng-src="{{station.html5Video.webm}}" type="video/webm"></source>
         --->
       </video>
    </div>
   </div>
  </script>

  <script type="text/ng-template" id="user_repeater.html">
      <div ng-repeat="user in entities" ng-switch on="user.attachmentType" class="col-3 col-md-3 col-sm-4 col-lg-2 col-xs-4">
        <div ng-switch-when="image" class="thumbnail station medium">
          <img ng-click="clickedImage(user)" ng-src="{{user.mediumFrontImageUrl}}/format/{{getAttachmentFormat()}}">
          <div class="small caption">{{user.startDate}}</div>
          <div class="small caption"><a href="#/user-trace/?userId={{user.id}}">trace</a></div>
        </div>
    </div>
  </script>




  <script type="text/ng-template" id="menu_intro.html">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="#">
          <span ng-bind="applicationTitle"></span> 
          <span class="hidden-sm hidden-md hidden-lg">xs</span>
          <span class="hidden-xs hidden-md hidden-lg">sm</span>
          <span class="hidden-xs hidden-sm hidden-lg">md</span>
          <span class="hidden-xs hidden-sm hidden-md">lg</span>
        </a>
        
      </div>
  </script>



  <script type="text/ng-template" id="myModalLogin.html">
      <div class="modal-header">
          <h3>Login</h3>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
              <input ng-model="userInput.email" type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input ng-model="userInput.password" type="password" placeholder="Password" class="form-control">
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-disabled="isPerformingLogin()" ng-click="performLogin(userInput.email,userInput.password)">Login</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>


  <script type="text/ng-template" id="myModalRegistration.html">
      <div class="modal-header">
          <h3>Registration</h3>
      </div>
      <div class="modal-body">
      <form>
          <div class="form-group">
            <input ng-model="userInput.email" type="text" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input ng-model="userInput.password" type="password" placeholder="Password" class="form-control">
            <input ng-model="userInput.password_again" type="password" placeholder="Re-Type Password" class="form-control">
          </div>
      </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" ng-disabled="isPerformingRegistration" ng-click="performRegistration(userInput.email,userInput.password,userInput.password_again)">Register</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
      </div>
  </script>


  <script type="text/ng-template" id="login_logout_menu_elements.html">
    <li ng-hide="isUserLoggedIn()">
      <a ng-controller="ModalRegistrationCtrl" style="cursor:pointer;" ng-click="open()">Registration
      </a>
    </li>
    <li ng-hide="isUserLoggedIn()">
      <a ng-controller="ModalLoginCtrl" style="cursor:pointer;" ng-click="open()">Login
      </a>
    </li>
    <li ng-hide="!isUserLoggedIn()">
        <a href="" ng-click="performLogout()">Logout</a>
    </li>
  </script>



  <script type="text/ng-template" id="station-archive.html">
      <div class="col-lg-3 col-sm-5 col-md-5 sidebar">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">
            <div ng-include="'station-search-map.html'">
            </div>
            <div ng-include="'parameter_header.html'">
            </div>
            <div style="" class="station-archive-settings-wrapper" ng-class="{true: 'show-wrapper', false: 'hide-wrapper'}[showFullSettings]">
                <div style="display:block;" ng-include="'archive-time-parameters.html'">
                </div>
            
                <div class="parameter-element">
                  <span style="top:4px;font-size:18px;margin-right:2px;" class="glyphicon glyphicon-list-alt"></span>
                  <select style="margin-left:6px;font-size:18px;" id="visibility_select" ng-change="changedVisibility()" ng-model="selectedVisibility" ng-options="c.description for c in dataForVisibilitySelect"></select>
                </div>
            </div>
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/span-->
      <div class="col-lg-9 col-lg-offset-3 col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5">
        <div ng-if="showLonelyEntity == true">
          hello lonely entity
        </div>
        <div ng-if="showLonelyEntity == false" 
             ng-class="{true: 'with-big-top-distance', false: 'with-small-top-distance'}[showFullSettings]" 
             class="archive" 
             infinite-scroll="scrolledForMore()" 
             infinite-scroll-distance="3" 
             infinite-scroll-callback="scrollCallback">
          
          <div ng-show="isLoadingEntities" style="padding-top:100px;text-align:center;margin-left:auto;margin-right:auto;width:100%;">
              Loading stations...
          </div>
          <div class="row" ng-include="'station_repeater.html'"  after-rendering="entityListLoaded()">
          </div>
        </div>
        <div ng-if="showLongSpacer == true" style="height:{{longSpacerHeighth}}px;" >
        </div>
      </div>
  </script>

     

  <script type="text/ng-template" id="station-distance-archive.html">
      <div class="col-lg-3 col-sm-4 col-md-5 sidebar">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">
            <div ng-include="'station-search-map.html'">
            </div>
            
            <div style="" class="station-archive-settings-wrapper" ng-class="{true: 'show-wrapper', false: 'hide-wrapper'}[showFullSettings]">
              <div ng-include="'parameter_header.html'">
              </div>
              <div style="display:inline-block;" ng-include="'distance-time-parameters.html'">
              </div>
              <div style="text-align:right;display:inline-block;" class="pull-right">
                <div style="display:block;" class="parameter-element">
                  <label>
                    <span style="top:4px;font-size:18px;margin-right:2px;" class="glyphicon glyphicon-list-alt"></span>
                    <select style="font-size:18px;" id="visibility_select" ng-change="changedVisibility()" ng-model="selectedVisibility" ng-options="c.description for c in dataForVisibilitySelect"></select>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9 col-lg-offset-3 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5">
        <div ng-if="showLonelyEntity == true">
          hello lonely entity
        </div>
        <div ng-if="showLonelyEntity == false" 
             ng-class="{true: 'with-big-top-distance', false: 'with-small-top-distance'}[showFullSettings]" 
             class="archive" 
             infinite-scroll="scrolledForMore()" 
             infinite-scroll-distance="3" 
             infinite-scroll-callback="scrollCallback">
          
          <div ng-show="isLoadingEntities" style="padding-top:100px;text-align:center;margin-left:auto;margin-right:auto;width:100%;">
              Loading stations...
          </div>

          <div class="row" ng-include="'station_repeater.html'"  after-rendering="entityListLoaded()">
          </div>
        </div>
        <div ng-if="showLongSpacer == true" style="height:{{longSpacerHeighth}}px;" >
        </div>
      </div>
  </script>



     
  <script type="text/ng-template" id="user-archive.html">
      <div class="col-lg-3 col-sm-4 col-md-5 sidebar">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">
            <div ng-include="'station-search-map.html'">
            </div>
            <div style="" class="station-archive-settings-wrapper" ng-class="{true: 'show-wrapper', false: 'hide-wrapper'}[showFullSettings]">
                <div ng-include="'parameter_header.html'">
                 </div>
                <div style="display:inline-block;" ng-include="'archive-time-parameters.html'">
                </div>
            </div>
          </div>
        </div>
      </div>
 
      <div class="col-lg-9 col-lg-offset-3 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5">
        <div ng-if="showLonelyEntity == false" 
             ng-class="{true: 'with-big-top-distance', false: 'with-small-top-distance'}[showFullSettings]" 
             class="archive" 
             infinite-scroll="scrolledForMore()" 
             infinite-scroll-distance="3" 
             infinite-scroll-callback="scrollCallback">
          
            <div ng-show="isLoadingEntities" style="padding-top:100px;text-align:center;margin-left:auto;margin-right:auto;width:100%;">
                Loading users...
            </div>
          
          
            <div class="row" ng-include="'user_repeater.html'"  after-rendering="entityListLoaded()">
            </div>
        </div>
    </div>
  </script>




        

    





  <script type="text/ng-template" id="location_search_below_map.html">
      <div class="container" style="width:auto;display:block;vertical-align:top;padding-top:10px;padding-left:0px;padding-right:0px;">
        <div class="row">
            <div class="col-xs-12">
              <input zf-enter="searchGoogleLocation(searchGoogle)" id="google-search-location" name="search-location" ng-model="searchGoogle" class="location-search-input" type="text">
            </div>
        </div>
      </div>
  </script> 



        

    






    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        
        <div ng-include="'menu_intro.html'">
        </div>
 
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <div ng-include="'login_logout_menu_elements.html'" include-replace>
            </div>
            <li><a href="#settings">Settings</a> </li>
            
          </ul>


          <ul class="nav navbar-nav">
            <li><a href="#station-archive">Pictures</a> </li>
            <li><a href="" ng-click="MenuService.clickPeople()">People</a> </li>
            

            
            
          </ul>
          
          <!--
          <form onsubmit="alert(4);" class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
		      -->
		  
          <form zf-inplace-uploader target-url="/station/create/" button-caption="Instant Upload" class="navbar-form navbar-right" >
          </form>        

          <form ng-hide="!isUserLoggedIn()" zf-inplace-uploader target-url="/user/uploadProfileImage/" button-caption="Set Profile Picture" class="navbar-form navbar-right" >
          </form>        

        </div>        

      </div>
    </div>

  
    <div class="container-fluid">
      <div ng-view autoscroll="true" class="row">      
      </div>
    </div>
      
        <script src="http://fb.me/react-0.11.1.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,geometry&sensor=false"></script>        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="third_party/Touchable-jQuery-Plugin/touchable.js"></script>

        <script src="my-frameworks/jquery-long-tap/jquery-long-tap.js"></script>
        <script src="third_party/jquery.longpress.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

        
        <script src="third_party/simplify.js"></script>
        <script src="third_party/strftime.js"></script>
        <script src="third_party/underscore/underscore.js"></script>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-cookies.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.js"></script>
        
        
        
        
        <script src="my-frameworks/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="third_party/alternatives/angular-file-upload/angular-file-upload.js"></script>
        <script src="third_party/ui-bootsrap-tpls-0.9.0.js"></script>
        <script src="third_party/Javascript-and-Coffeescript-Utils/imgloader.js"></script>
        
        
        <script src="app/scripts/app.js"></script>
        <script src="app/scripts/controllers/main.js"></script>
        <script src="app/scripts/directives/zfInplaceUploader.js"></script>
        <script src="app/scripts/directives/zfEntityImage.js"></script>
        <script src="app/scripts/directives/zfImageModal.js"></script>
        <script src="app/scripts/directives/zfImageLonely.js"></script>
        <script src="app/scripts/directives/zfDatePicker.js"></script>
        <script src="app/scripts/directives/zfDateTimeInput.js"></script>
        <script src="app/scripts/directives/zfSearchMap.js"></script>
        <script src="app/scripts/directives/zfSimpleMap.js"></script>
        <script src="app/scripts/directives/zfTraceMap.js"></script>
        <script src="app/scripts/directives/zfUserTraceMap.js"></script>
        <script src="app/scripts/directives/zfWhenScrolled.js"></script>
        <script src="app/scripts/directives/misc-tools-directives.js"></script>

        <script src="app/scripts/controllers/archive-strategies/StationsByTimeStrategy.js"></script>
        <script src="app/scripts/controllers/archive-strategies/StationsByDistanceStrategy.js"></script>
        <script src="app/scripts/controllers/archive-strategies/UsersByTimeStrategy.js"></script>
        <script src="app/scripts/controllers/archive-strategies/UsersByDistanceStrategy.js"></script>
        
        <script src="app/scripts/controllers/ModalStation.js"></script>
        <script src="app/scripts/controllers/ModalDemo.js"></script>
        <script src="app/scripts/controllers/ModalLogin.js"></script>
        <script src="app/scripts/controllers/ModalRegistration.js"></script>
        <script src="app/scripts/controllers/AbstractArchive.js"></script>
        <script src="app/scripts/controllers/UserTrace.js"></script>
        <script src="app/scripts/controllers/Settings.js"></script>
        
        <script src="app/scripts/services/ZeitfadenService.js"></script>
        <script src="app/scripts/services/MenuService.js"></script>
        <script src="app/scripts/services/ProtectedControllerData.js"></script>
        <script src="app/scripts/services/ResponsiveService.js"></script>
        <script src="app/scripts/services/ScrollHistoryService.js"></script>
        <script src="app/scripts/services/LoginService.js"></script>


        <script src="app/scripts/controllers/ZeitfadenApplication.js"></script>
        <script src="app/scripts/controllers/TraceArchive.js"></script>
        <script src="app/scripts/controllers/MyTrace.js"></script>
        <script src="app/scripts/controllers/ReactController.js"></script>

        <script src="third_party/autofill-event.js"></script>
  </body>
</html>









