<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <link href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <llsslink rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <link href="app/styles/raw.css" rel="stylesheet">
        
        
</head>
  <body ng-app="ZeitfadenApp" ng-controller="ZeitfadenApplicationCtrl">

  <script type="text/ng-template" id="directive-date-time-input.html">
	  <label><span style="top:-10px;font-size:18px;" class="glyphicon glyphicon-time"></span>
	      <div style="display:inline-block;width:130px;overflow:hidden;">
	        <input style="margin-left:6px;font-size:18px;width:120px;overflow:hidden;" class="datetime_selector" type="datetime-local">
	      </div>
	  </label>
  </script>

  <script type="text/ng-template" id="station-image-modal.html">
    <div style="text-align:center;">
      <div class="blocker-div-for-image" style="position:absolute;top:0;right:0;bottom:0;left:0;z-index:5;"></div>
      <img ng-if="searchSpec.showBigImages == true" style="max-width:100%;" ng-src="{{station.bigFrontImageUrl}}/format/original">
      <img ng-if="searchSpec.showBigImages == false" style="max-width:100%;" ng-src="{{station.smallFrontImageUrl}}/format/{{getAttachmentFormat()}}">
    </div>
  </script>

  <script type="text/ng-template" id="station-image-lonely.html">
    <div id="{{station.id}}" style="text-align:center;">
      <div class="blocker-div-for-image" style="position:absolute;top:0;right:0;bottom:0;left:0;z-index:5;"></div>
      <img ng-if="searchSpec.showBigImages == true" style="max-width:100%;" 
      	ng-src="{{station.bigFrontImageUrl}}/format/original">
      <img ng-if="searchSpec.showBigImages == false" style="max-width:100%;" 
      	ng-src="{{station.mediumFrontImageUrl}}/format/{{getAttachmentFormat()}}">
    </div>
  </script>
  
  <script type="text/ng-template" id="station-search-map.html">
    <div style="" class="search-map-wrapper" ng-class="{true: 'full-settings', false: 'small-settings'}[showFullSettings]">

          <div zf-search-map ng-model="searchLocation" 
               zf-station="selectedMapEntity" 
               zf-on-change-marker="changedLocation"
               zf-show-full-settings="showFullSettings"  
               zf-request-location-callback="setToCurrentLocation"
               zf-is-searching-location="isSearchingLocation"  
               zf-on-changed-full-settings="toggleShowFullSettings"
               zf-search-map-instance="directiveData.searchMapInstance"
               class="search-map">
          </div>
    </div>
  </script>
 
  <script type="text/ng-template" id="parameter_header.html">

      <div class="container" style="width:auto;display:block;vertical-align:top;padding:15px;margin-bottom:10px;border-bottom:1px solid #aaaaaa;">
	      <div class="row padded">
	          <label class="col-xs-2" for="google-search-location">Search:</label>
		      <div class="col-xs-10">
		      	<input zf-enter="searchGoogleLocation(searchGoogle)" id="google-search-location" name="search-location" ng-model="searchGoogle" class="location-search-input" type="text">
		      </div>
	      </div>
	  </div>
  	
      <div class="container" style="width:auto;display:block;vertical-align:top;margin-bottom:5px;">



		<div class="row parameter-button-group">
					    
		    <div style="text-align:center;" class="col-md-4 col-sm-12 col-xs-4 headroom-sm-30">
			    <div class="row btn-group btn-group-lg" >
			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickUserIcon()">
			        <span class="glyphicon glyphicon-user" ></span>
			      </button>
			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickStationIcon()">
			        <span class="glyphicon glyphicon-picture" ></span>
			      </button>
			    </div>
			</div>
			
		    <div style="text-align:center;"  class="col-md-4 col-sm-12 col-xs-4 headroom-sm-30">
			    <div class="row btn-group btn-group-lg" >
			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickDistanceSort()">
			        <span class="glyphicon glyphicon-sort-by-attributes"></span>
			      </button>
			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="clickTimeSort()">
			        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
			      </button>
			    </div>
			</div>
			
		    <div  style="text-align:center;" class="col-md-4  col-sm-12 col-xs-4 headroom-sm-30">
			    <div class="row btn-group btn-group-lg" >
			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="searchSpec.showBigImages = false">
			        <span class="glyphicon glyphicon-th"></span>
			      </button>
			      <button type="button" class="btn btn-default btn-lg col-6" ng-click="searchSpec.showBigImages = true">
			        <span class="glyphicon glyphicon-th-list"></span>
			      </button>
			    </div>
			</div>
		    
		</div>



      </div>
  </script>

  <script type="text/ng-template" id="distance-time-parameters.html">
      <div class="parameter-element">
        <div zf-date-time-input ng-model="searchSpec.fromDate" class="archive-date-picker" zf-on-change-date="changedDate">
        </div>
        <div zf-date-time-input ng-model="searchSpec.untilDate" class="archive-date-picker" zf-on-change-date="changedDate">
        </div>
      </div>
  </script>

  <script type="text/ng-template" id="archive-time-parameters.html">
    <div class="parameter-element">
        <div zf-date-time-input ng-model="searchSpec.searchDate" zf-on-change-date="changedDate" >
        </div>
        <label>
          <div style="display:inline-block;top:4px;font-size:18px;margin-right:2px;" class="glyphicon glyphicon-forward"></div>
          <select style="font-size:18px;width:130px;margin-left:4px;" id="time_ordering_select" ng-change="changedTimeOrdering()" ng-model="searchSpec.selectedTimeOrdering" ng-options="c.description for c in dataForTimeOrderingSelect"></select>
        </label>
    </div> 
  </script>

  <script type="text/ng-template" id="station_repeater.html">
      <div ng-repeat="station in entities" ng-switch on="station.attachmentType" 
      ng-class="{false: 'col-xs-4 small-image', true: 'col-xs-12 big-image'}[searchSpec.showBigImages]"
      class="col-3 col-md-3 col-sm-4 col-lg-3">
        <div ng-switch-when="image" class="thumbnail station medium">
          <div zf-station-image-lonely ng-model="station"></div>	    	            
        <div class="small caption">{{station.startDate}}</div>
        <div><span class="glyphicon glyphicon-map-marker" ></span> {{station.distanceToPin/1000 | number:3}} km</div>
      </div>
      <div ng-switch-when="video" class="thumbnail station medium" >
       <video width="400" height="300" ng-poster="{{station.html5Video.jpg}}" preload="none" controls="">
         <source ng-src="{{station.html5Video.mp4}}" type="video/mp4"></source>
         <source ng-src="{{station.html5Video.ogv}}" type="video/ogg"></source>
         <source ng-src="{{station.html5Video.webm}}" type="video/webm"></source>
       </video>
    </div>
   </div>
  </script>
    
	<!-- Modal -->
	<div zf-login-form class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	</div>    

  <div class="modal fade" id="myRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="myRegistrationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myRegistrationModalLabel">Registration</h4>
        </div>
        
        <div class="modal-body">
          <form>
              <div class="form-group">
                <input ng-model="userInput.email" type="text" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <input ng-model="userInput.password" type="password" placeholder="Password" class="form-control">
                <input ng-model="userInput.password_again" type="password" placeholder="Re-Type Password" class="form-control">
              </div>
          </form>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click="performRegistration(userInput.email,userInput.password,userInput.password_again)" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>    
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a class="navbar-brand" href="#">
          	<span ng-bind="applicationTitle"></span> 
          	<span class="hidden-sm hidden-md hidden-ld">xs</span>
          	<span class="hidden-xs hidden-md hidden-ld">sm</span>
          	<span class="hidden-xs hidden-sm hidden-ld">md</span>
          	<span class="hidden-xs hidden-sm hidden-md">ld</span>
          </a>
          
        </div>
        
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#station-archive">Archive</a> </li>
            <li><a href="#trace-archive">Traces</a> </li>
            <li><a href="#settings">Settings</a> </li>
            <li ng-hide="isUserLoggedIn()">
              <a ng-controller="ModalRegistrationCtrl" style="cursor:pointer;" ng-click="open()">Registration
                  <script type="text/ng-template" id="myModalRegistration.html">
                      <div class="modal-header">
                          <h3>Registration</h3>
                      </div>
                      <div class="modal-body">
                      <form>
                          <div class="form-group">
                            <input ng-model="userInput.email" type="text" placeholder="Email" class="form-control">
                          </div>
                          <div class="form-group">
                            <input ng-model="userInput.password" type="password" placeholder="Password" class="form-control">
                            <input ng-model="userInput.password_again" type="password" placeholder="Re-Type Password" class="form-control">
                          </div>
                      </form>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-primary" ng-disabled="isPerformingRegistration" ng-click="performRegistration(userInput.email,userInput.password,userInput.password_again)">Register</button>
                          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                      </div>
                  </script>
              </a>
            </li>

            <!-- Menu:Login -->
            <li ng-hide="isUserLoggedIn()">
              <a ng-controller="ModalLoginCtrl" style="cursor:pointer;" ng-click="open()">Login
                  <script type="text/ng-template" id="myModalLogin.html">
                      <div class="modal-header">
                          <h3>Login</h3>
                      </div>
                      <div class="modal-body">
                        <form>
                            <div class="form-group">
                              <input ng-model="userInput.email" type="text" placeholder="Email" class="form-control">
                            </div>
                            <div class="form-group">
                              <input ng-model="userInput.password" type="password" placeholder="Password" class="form-control">
                            </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                          <button class="btn btn-primary" ng-disabled="isPerformingLogin()" ng-click="performLogin(userInput.email,userInput.password)">Login</button>
                          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                      </div>
                  </script>
              </a>
            </li>
            
            
            <li ng-hide="!isUserLoggedIn()">
                <a href="" ng-click="performLogout()">Logout</a>
            </li>
          </ul>
          
          <!--
          <form onsubmit="alert(4);" class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
		  -->
		  
          <form zf-inplace-uploader target-url="/station/create/" button-caption="Instant Upload" class="navbar-form navbar-right" >
          </form>        

          <form ng-hide="!isUserLoggedIn()" zf-inplace-uploader target-url="/user/uploadProfileImage/" button-caption="Set Profile Picture" class="navbar-form navbar-right" >
          </form>        

        </div>        

      </div>
    </div>

  
    <div class="container-fluid">
      <div ng-view autoscroll="true" class="row">      
      </div>
    </div>
      
        <script src="http://fb.me/react-0.11.1.js"></script>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,geometry&sensor=false"></script>        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="third_party/Touchable-jQuery-Plugin/touchable.js"></script>

        <script src="my-frameworks/jquery-long-tap/jquery-long-tap.js"></script>
        <script src="third_party/jquery.longpress.js"></script>
        <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        
        <script src="third_party/simplify.js"></script>
        <script src="third_party/strftime.js"></script>
        <script src="third_party/underscore/underscore.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-route.js"></script>
        <script src="app/scripts/app.js"></script>
        <script src="app/scripts/controllers/main.js"></script>
        <script src="third_party/angular-resource/angular-resource.js"></script>
        <script src="third_party/angular-cookies/angular-cookies.js"></script>
        <script src="third_party/angular-sanitize/angular-sanitize.js"></script>
        <script src="my-frameworks/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="third_party/alternatives/angular-file-upload/angular-file-upload.js"></script>
        <script src="third_party/ui-bootsrap-tpls-0.9.0.js"></script>
        <script src="third_party/Javascript-and-Coffeescript-Utils/imgloader.js"></script>
        <script src="app/scripts/directives/zfInplaceUploader.js"></script>
        <script src="app/scripts/directives/zfEntityImage.js"></script>
        <script src="app/scripts/directives/zfImageModal.js"></script>
        <script src="app/scripts/directives/zfImageLonely.js"></script>
        <script src="app/scripts/directives/zfLoginForm.js"></script>
        <script src="app/scripts/directives/zfDatePicker.js"></script>
        <script src="app/scripts/directives/zfDateTimeInput.js"></script>
        <script src="app/scripts/services/ZeitfadenService.js"></script>
        <script src="app/scripts/directives/zfSearchMap.js"></script>
        <script src="app/scripts/directives/zfSimpleMap.js"></script>
        <script src="app/scripts/directives/zfTraceMap.js"></script>
        <script src="app/scripts/directives/zfWhenScrolled.js"></script>
        <script src="app/scripts/directives/misc-tools-directives.js"></script>
        
        <script src="app/scripts/controllers/ModalStation.js"></script>
        <script src="app/scripts/controllers/ModalDemo.js"></script>
        <script src="app/scripts/controllers/ModalLogin.js"></script>
        <script src="app/scripts/controllers/ModalRegistration.js"></script>
        <script src="app/scripts/controllers/AbstractArchive.js"></script>
        <script src="app/scripts/controllers/AbstractStationArchive.js"></script>
        <script src="app/scripts/controllers/AbstractUserArchive.js"></script>
        <script src="app/scripts/controllers/StationArchive.js"></script>
        <script src="app/scripts/controllers/StationDistanceArchive.js"></script>
        <script src="app/scripts/controllers/UserArchive.js"></script>
        <script src="app/scripts/controllers/UserDistanceArchive.js"></script>
        <script src="app/scripts/controllers/Settings.js"></script>
        

        <script src="app/scripts/services/ProtectedControllerData.js"></script>
        <script src="app/scripts/services/StationService.js"></script>
        <script src="app/scripts/services/UserService.js"></script>
        <script src="app/scripts/services/ResponsiveService.js"></script>
        <script src="app/scripts/services/ScrollHistoryService.js"></script>
        <script src="app/scripts/services/LoginService.js"></script>


        <script src="app/scripts/controllers/ZeitfadenApplication.js"></script>
        <script src="app/scripts/controllers/TraceArchive.js"></script>
        <script src="app/scripts/controllers/MyTrace.js"></script>
        <script src="app/scripts/controllers/ReactController.js"></script>

        <script src="third_party/autofill-event.js"></script>
  </body>
</html>









