<div class="modal-header" style="border-bottom:0px;">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <div class="small caption">{{controllerScope.selectedEntity.startDate}}</div>
</div>

<div class="modal-body">
  <div class="row" style="margin-left: 0px; margin-right:0px;height:100%;">
    
    <div class="col-sm-4">
      <div zf-simple-map zf-station="controllerScope.selectedEntity" class="station-image-map">
      </div>        
      
    </div>

    <div class="col-sm-8 station-image-container">
      <img class="station-image" display-station="controllerScope.selectedEntity" ng-click="clickedImage(entity)"/>
    </div>
  </div>


</div>

<div class="modal-footer">
    <button class="btn btn-warning" ng-click="controllerScope.activatePreviousEntity()">prev</button>
    <button class="btn btn-warning" ng-click="controllerScope.activateNextEntity()">next</button>
</div>
