




                      <div class="modal-header">
                          <h3>StationBigHowBig</h3>
                          <button class="btn btn-warning" ng-click="controllerScope.activateNextStation()">next</button>
                          <button class="btn btn-warning" ng-click="controllerScope.activatePreviousStation()">previous</button>
                          <button class="btn btn-primary" ng-disabled="isPerformingRegistration" ng-click="performRegistration(userInput.email,userInput.password,userInput.password_again)">Register</button>
                          <button class="btn btn-warning" ng-click="cancel()">CCCancel</button>

                      </div>
                      <div class="modal-body">
                      
		              <div class="small caption">{{selectedStation.startDate}}</div>
		                <img 
	   	                class="station-image"
		                  display-station="controllerScope.selectedStation"
		                	ng-click="clickedImage(station)" 
		                	/>
                      
                      </div>
                      <div style="display:none;" class="modal-footer">
                      </div>
