
<div style="margin:4px;">
  Day: <select name="day" class="day_selector">
  </select>
  
  Month:<select name="month" class="month_selector">
  </select>
  
  Year:<select name="year" class="year_selector">
  </select>
</div

<div style="margin:4px;">
  Time:<select name="hour" class="hour_selector">
  </select>
  <select name="minute" class="minute_selector">
  </select>
  <select name="second" class="second_selector">
  </select>
</div>

<div style="margin:4px;">
  HTML5-Date<input class="date_selector" type="date">
  <br>
  HTML5-Time:<input class="time_selector" type="time">
</div>