        <div class="col-xs-6 col-sm-3" role="navigation">
          

          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <div zf-date-picker ng-model="fromDate" class="archive-date-picker">
              </div>
            </div><!--/span-->
            <div class="col-12 col-sm-12 col-lg-12">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->

            <div class="col-12 col-sm-12 col-lg-12">
              <div class="btn-toolbar">
                <button ng-click="clickedLoad()" class="btn">load! </button>
                <button ng-click="setToCurrentLocation()" class="btn">here! </button>
              </div>
            </div><!--/span-->


          </div><!--/row-->

          
        </div><!--/span-->


        <div class="col-xs-12 col-sm-9">
         
          <div zf-trace-map ng-model="searchLocation" zf-traces="stationsByUserId" zf-search-location="searchLocation" zf-search-radius="searchRadius" style="height:500px;" >
          </div>        
          
        </div><!--/span-->

