     
     
     
      <div class="col-lg-3 col-sm-4 col-md-5 sidebar">
        

        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">

	        <div class="search-map-wrapper" ng-class="{true: 'full-settings', false: 'small-settings'}[showFullSettings]">
	              
	              
	              <div zf-search-map ng-model="searchLocation" 
	                   zf-station="selectedMapEntity" 
	                   zf-on-change-marker="changedLocation"
	                   zf-show-full-settings="showFullSettings"  
	                   zf-request-location-callback="setToCurrentLocation"
	                   zf-is-searching-location="isSearchingLocation"  
	                   zf-on-changed-full-settings="toggleShowFullSettings"
	                   class="search-map" style="height:100%;">
	              </div>        
	              
	        </div>

            
            <div class="station-archive-settings-wrapper" ng-class="{true: 'show-wrapper', false: 'hide-wrapper'}[showFullSettings]">


                <div class="parameter-element">
                	<div ng-click="showBigImages = !showBigImages">click for toggle</div>
   	            </div>
              
                <div class="parameter-element">
                  <label>
                	  Within Distance: 
                  	  <select id="radius_select" ng-change="changedDistance()" ng-model="selectedRange" ng-options="c.description for c in dataForRangeSelect"></select>
                  </label>
   	            </div>


				<div class="parameter-element">
					
	                <div style="display:inline-block;" zf-date-time-input ng-model="searchDate" zf-on-change-date="changedDate" >
	                </div>
	
					<div style="display:inline-block;" class="btn-group" >
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    {{searchDirection}} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="" ng-click="searchDirection = 'intoTheFuture'">into the future</a></li>
					    <li><a href="" ng-click="searchDirection = 'intoThePast'">into the past</a></li>
					    <li class="divider"></li>
					    <li><a href="">Separated link</a></li>
					  </ul>
					</div>
	
				</div>

                <div class="parameter-element">

	                <div style="display:inline-block;font-weight: 700;">
	                	Visibility:
	                </div>
	
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    {{searchVisibility}} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
					    <li><a href="" ng-click="searchVisibility = 'public_only'">Public Uploads</a></li>
					    <li><a href="" ng-click="searchVisibility = 'my_own'">My Own</a></li>
					    <li><a href="" ng-click="searchVisibility = 'pass_protected'">passprotected</a></li>
					    <li class="divider"></li>
					    <li><a href="">Separated link</a></li>
					  </ul>
					</div>
				</div>	
				
				
              </div>
          </div><!--/span-->
        </div><!--/row-->
      </div><!--/span-->
 
 
 
 

      <div class="col-lg-9 col-lg-offset-3 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5">

		<div ng-if="showLonelyEntity == true">
			hello lonely entity
		</div>

        <div ng-if="showLonelyEntity == false" 
             ng-class="{true: 'with-big-top-distance', false: 'with-small-top-distance'}[showFullSettings]" 
             class="archive" 
             infinite-scroll="scrolledForMore()" 
             infinite-scroll-distance="3" 
             infinite-scroll-callback="scrollCallback">
          
			<div ng-show="isLoadingEntities" style="padding-top:100px;text-align:center;margin-left:auto;margin-right:auto;width:100%;">
	            Loading stations...
	        </div>
          
          
          <div class="row" ng-include="'station_repeater.html'"  after-rendering="entityListLoaded()">
          </div>
           
        </div>

		
			<div ng-if="showLongSpacer == true" style="height:{{longSpacerHeighth}}px;" >
			</div>
        
        
      </div>
      







        

    
