     
     
     
      <div class="col-lg-3 col-sm-4 col-md-5 sidebar">
        

        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">

          <div ng-include="'station-search-map.html'">
          </div>
            
            
            
            
            <div style="" 
                 class="station-archive-settings-wrapper" ng-class="{true: 'show-wrapper', false: 'hide-wrapper'}[showFullSettings]">

  	            <div ng-include="'parameter_header.html'">
	            </div>


  	            <div style="display:inline-block;" ng-include="'archive-time-parameters.html'">
	            </div>


               <div style="text-align:right;display:inline-block;" class="pull-right">
                  <div style="display:block;" class="parameter-element">
                    <label>
                  	  <span style="top:3px;font-size:18px;" class="glyphicon glyphicon-map-marker"></span>
                   	  <select style="font-size:18px;" id="radius_select" ng-change="changedDistance()" ng-model="selectedRange" ng-options="c.description for c in dataForRangeSelect"></select>
                    </label>
   	              </div>

                  <div style="display:block;" class="parameter-element">
                    <label>
                      <span style="top:4px;font-size:18px;margin-right:2px;" class="glyphicon glyphicon-list-alt"></span>
                      <select style="font-size:18px;" id="visibility_select" ng-change="changedVisibility()" ng-model="selectedVisibility" ng-options="c.description for c in dataForVisibilitySelect"></select>
                    </label>
                  </div>
               </div>


              </div>

          </div><!--/span-->
        </div><!--/row-->
      </div><!--/span-->
 
 
 
 

      <div class="col-lg-9 col-lg-offset-3 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5">

		<div ng-if="showLonelyEntity == true">
			hello lonely entity
		</div>

        <div ng-if="showLonelyEntity == false" 
             ng-class="{true: 'with-big-top-distance', false: 'with-small-top-distance'}[showFullSettings]" 
             class="archive" 
             infinite-scroll="scrolledForMore()" 
             infinite-scroll-distance="3" 
             infinite-scroll-callback="scrollCallback">
          
			<div ng-show="isLoadingEntities" style="padding-top:100px;text-align:center;margin-left:auto;margin-right:auto;width:100%;">
	            Loading stations...
	        </div>
          
          
          <div class="row" ng-include="'station_repeater.html'"  after-rendering="entityListLoaded()">
          </div>
           
        </div>

		
			<div ng-if="showLongSpacer == true" style="height:{{longSpacerHeighth}}px;" >
			</div>
        
        
      </div>
      







        

    
