      <div class="col-lg-4 col-sm-5 col-md-5 sidebar">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">


              <div class="archive-sidebar-container">
                <div class="btn-toolbar">
                  <button ng-click="clickedLoad()" class="btn">load! </button>
                </div>
      
      
      
                <div ng-switch on="isSearchingLocation">
                  <span ng-switch-when="true">Currently location your position</span>
                  <span ng-switch-when="false">locating off.</span>
                </div>
      
                <span ng-switch on="isLoadingStations">
                  <span ng-switch-when="true">Loading stations...</span>
                  <span ng-switch-when="false">Stations loaded.</span>
                </span>
              </div>
      
      
              <h4>Timeframe</h4>
              <div class="archive-sidebar-container">
                <div zf-date-picker ng-model="searchSpec.searchDate" on-date-change="changedSearchTime" class="archive-date-picker"></div>
                <label>
                    <div style="display:inline-block;top:4px;font-size:18px;margin-right:2px;" class="glyphicon glyphicon-forward"></div>
                    <select style="font-size:18px;width:130px;margin-left:4px;" id="time_ordering_select" ng-change="changedTimeOrdering()" ng-model="searchSpec.selectedTimeOrdering" ng-options="c.description for c in dataForTimeOrderingSelect"></select>
                </label>

              </div>
              
      
              <h4>Debug</h4>
              <div class="archive-sidebar-container">
                Latitude: {{searchLocation.latitude}} <br>
                Longitude: {{searchLocation.longitude}} <br>
                Radius: {{searchRadius}}<br>
                Zoom: {{searchLocation.zoom}}<br>
                Search-Date: {{searchSpec.searchDate}}
      
              </div>


        </div>
      </div>
    </div>
  
  
  
  
  
    <div class="col-lg-8 col-lg-offset-4 col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5">

  
  
      <div class="traces" >
        
        <ul style="display:none;">
          <li ng-repeat="user in users" >
            {{user.id}}
          </li>
        </ul>
        
        <div style="width:100%;height:400px;" zf-trace-map ng-model="searchLocation" zf-traces="stationsByUserId" zf-search-location="searchLocation" zf-search-radius="searchRadius" class="trace-map" >
        </div>        

        
      </div>
    </div>


        

    
