     
     
     
      <div class="col-lg-3 col-sm-4 col-md-5 sidebar">
        <div class="row">
          <div class="col-12 col-sm-12 col-lg-12">

            <div ng-include="'station-search-map.html'">
            </div>

            <div style="" 
                 class="station-archive-settings-wrapper" ng-class="{true: 'show-wrapper', false: 'hide-wrapper'}[showFullSettings]">



  	            <div class="row" ng-include="'parameter_header.html'">
	            </div>


                <div style="display:block;vertical-align:top;">
                  
                  <div class="parameter-element">
                    <div zf-date-time-input ng-model="fromDate" class="archive-date-picker" zf-on-change-date="changedDate">
                    </div>
                    <div zf-date-time-input ng-model="untilDate" class="archive-date-picker" zf-on-change-date="changedDate">
                    </div>
                  </div>
                </div>


              </div>

            
          </div>
        </div>
      </div>
 
 
 
 
      <div class="col-lg-9 col-lg-offset-3 col-sm-8 col-sm-offset-4 col-md-7 col-md-offset-5">

        <div ng-if="showLonelyEntity == false" 
             ng-class="{true: 'with-big-top-distance', false: 'with-small-top-distance'}[showFullSettings]" 
             class="archive" 
             infinite-scroll="scrolledForMore()" 
             infinite-scroll-distance="3" 
             infinite-scroll-callback="scrollCallback">
          
          <div class="row">
            <div ng-repeat="user in entities" ng-switch on="user.attachmentType" class="col-3 col-md-3 col-sm-4 col-lg-2 col-xs-4">
              
              <div ng-switch-when="image" class="thumbnail station medium">
                <img ng-click="clickedImage(user)" ng-src="{{user.mediumFrontImageUrl}}/format/{{getAttachmentFormat()}}">
                <div class="small caption">{{user.startDate}}</div>
              </div>
              <div ng-switch-when="video" class="thumbnail station medium" >
                <video width="400" height="300" ng-poster="{{user.html5Video.jpg}}" preload="none" controls="">
                  <source ng-src="{{user.html5Video.mp4}}" type="video/mp4"></source>
                  <source ng-src="{{user.html5Video.ogv}}" type="video/ogg"></source>
                  <source ng-src="{{user.html5Video.webm}}" type="video/webm"></source>
                </video>
             </div>
  
            </li>
          </row>
          
        </div>
     </div>

        

    
